        </section>

        <div class="clear-both"></div>
        <footer>
            web interface for <a href="http://search.cpan.org/dist/Module-CoreList/">Module::CoreList</a> 2.79,
            original: https://github.com/tokuhirom/corelist-web
        </footer>
    </div>
</body>
</html>
