[% INCLUDE 'include/header.tt' %]


<table>
    [% FOR row IN data %]
        <tr><td><a href="/v/[% row.perl %]">[% row.perl %]</a></td><td>[% row.date %]</td></tr>
    [% END %]
</table>

[% INCLUDE 'include/footer.tt' %]
