[% INCLUDE 'include/header.tt' %]

<h2>Core modules in [% version %]</h2>
<table class="table table-striped table-condensed table-hover">
    [% FOR k IN modules.keys().sort() %]
        <tr>
            <td align="left"><a href="[% uri_for('/') %]?module=[% k %]">[% k %]</a></td>
            <td>[% modules.$k %]</td>
        </tr>
    [% END %]
</table>

[% INCLUDE 'include/footer.tt' %]
